/*html {
	background-image: url("DSC_0421.JPG");
}*/
body {
	background-image: url("DSC_0421.JPG");
}
h1 {
	

}
img {
    max-height: 100%;
    max-width: 100%;

.carousel-inner > .item > img {
  width:720px;
  height:240px;
}